* {
    padding: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

}

.container {
    margin: 20px;
    width: 75%;
    height: 85vh;
    display: flex;  /*Isso permite que os elementos responsivos dentro de um contêiner sejam organizados automaticamente*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.login {
    padding: 20px;
    width: 500px;
    position: relative;
    height: 100%;
    gap: 10px;
    border: 1px 1px 1px 1px;
    opacity: 0px;
    background: #00BF63;
    border: 1px solid #00BF63;
}

.titulo-login {
    width: 403px;
    height: 146px;
    top: 64px;
    left: 43px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px; /*Depois modificar a altura do título */
    text-align: center;
    color: white
  
}

.email-login {
    width: 123px;
    height: 33px;
    top: 299px;
    left: 49px;
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 25px;
    font-weight: 700;
    line-height: 39.09px;
    text-align: justify;
    color: rgba(255, 255, 255, 1);
}



#email1 {
    display: block;
    width: 400px;
    height: 40px;
    top: 349px;
    left: 40px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: rgba(217, 217, 217, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    text-align: justify;
}

.senha-login {
    width: 123px;
    height: 33px;
    top: 299px;
    left: 49px;
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 25px;
    font-weight: 700;
    line-height: 39.09px;
    text-align: justify;
    color: rgba(255, 255, 255, 1);

}

#senha1 {
    display: block;
    width: 400px;
    height: 40px;
    top: 349px;
    left: 40px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: rgba(217, 217, 217, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    text-align: justify;
}

.entrar {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1);

}




.cadastro{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.cadastro .cabecalho{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.cabecalho .left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.cabecalho .right{
    display: flex;
    justify-content: end;
}
#título2 {
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 45px;
    font-weight: 500;
    line-height: 0px;
    color: rgba(0, 0, 255, 1);

}    

#subtítulo {
    font-family: Inika;
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    align-items: flex-start;
    color: rgba(0, 0, 0, 1);
    

}

#imagem {
    width: 100px;
    height: 80px;
    top: 12.29px;
    left: 1182px;
    gap: 0px;
    opacity: 0px;

}



.nome-cadastro {
    display: block;
    width: 123px;
    height: 33px;
    top: 299px;
    left: 49px;
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 20px;
    font-weight: 700;
    line-height: 39.09px;
    text-align: justify;
    color: rgb(0, 0, 0);

}

#nome {
    width: 350px;
    height: 30px;
    top: 349px;
    left: 40px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: rgba(217, 217, 217, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    text-align: justify;
}

.email-cadastro {
    display: block;
    width: 123px;
    height: 33px;
    top: 299px;
    left: 49px;
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 20px;
    font-weight: 700;
    line-height: 39.09px;
    text-align: justify;
    color: rgb(0, 0, 0);
    
}

#email {
    width: 350px;
    height: 30px;
    top: 349px;
    left: 40px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: rgba(217, 217, 217, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    text-align: justify;

}

.telefone {
    display: block;
    width: 123px;
    height: 33px;
    top: 299px;
    left: 49px;
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 20px;
    font-weight: 700;
    line-height: 39.09px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
#telefone1 {
    width: 350px;
    height: 30px;
    top: 349px;
    left: 40px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: rgba(217, 217, 217, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    text-align: justify;

}

.senha-cadastro {
    display: block;
    width: 123px;
    height: 33px;
    top: 299px;
    left: 49px;
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 20px;
    font-weight: 700;
    line-height: 39.09px;
    text-align: justify;
    color: rgb(0, 0, 0);

}

#senha2 {
    display: block;
    width: 350px;
    height: 30px;
    top: 349px;
    left: 40px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: rgba(217, 217, 217, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    text-align: justify;

}

.butao-cadastro {
    width: 500x;
    height: 65px;
    top: 700px;
    left: 735px;
    margin-top: 10px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1);

}


a {
    color: rgba(0, 0, 255, 1);

}