body {
    background: white;
}

.login {
    background: #00BF63 43%;
    border: 1px solid #00BF63;
    width: 672px;
    height: 1024px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

}

input[type="email"] {
    width: 516px;
    height: 68px;
    top: 379px;
    left: 41px;
    gap: 0px;
    opacity: 0px;

}

label [for="e-mail"] {
    width: 119px;
    height: 36px;
    top: 337px;
    left: 32px;
    gap: 0px;
    opacity: 0px;

}