* {
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
    height: 100vh; 
   

}

.container {
    margin: 20px;
    width: 75%;
    max-width: 1200px; 
    height: 85vh;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    
}

.login, .cadastro {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    background: #00BF63;
    border: 1px solid #00BF63;
    border-radius: 5%;
}

.cadastro {
    background: #FFFFFF;
    
}

.titulo-login, .email-login, .senha-login, #título2, #subtítulo, .nome-cadastro, .email-cadastro, .telefone, .senha-cadastro {
    font-family:Arial, sans-serif;
    opacity: 1; 
}

.titulo-login {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    color: white;
    margin-bottom: 20px; 
}

.email-login, .senha-login {
    font-size: 25px;
    font-weight: 700;
    line-height: 39.09px;
    text-align: justify;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px; 
}

#email1, #senha1, #nome, #email, #telefone1, #senha2 {
    display: block;
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin-bottom: 20px; 
    background: rgba(217, 217, 217, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    text-align: justify;
    padding: 0 10px; 
}

#entrar {
    margin-top: 35px;
    width: 300px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: white;
    cursor: pointer; 
    font-weight: bold;
    font-family:Arial, sans-serif;
    
}

#título2 {
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    color: rgba(0, 0, 255, 1);
    margin-bottom: 20px; 
    font-weight: bold;
}

#subtítulo {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px; 
}

#imagem {
    width: 100px;
    height: 80px;
    opacity: 1;
    margin-bottom: 20px; 
}

.nome-cadastro, .email-cadastro, .telefone, .senha-cadastro {
    font-size: 20px;
    font-weight: 700;
    line-height: 39.09px;
    text-align: justify;
    color: rgb(0, 0, 0);
    margin-bottom: 10px; 
}

.botao-cadastro {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: white;
    cursor: pointer; /* Cursor de ponteiro */
    
    
}

a {
    color: rgba(0, 0, 255, 1);
    font-weight: bold;
    font-family:Arial, sans-serif;
}


@media only screen and (max-width: 834px) {
    #título2 {
        font-size: 35px;
    }
    #subtítulo {
        font-size: 22px;
    }
    

}
@media screen and (max-width: 711px) {
    .titulo-login {
        font-size: 30px;
    }
    #título2 {
        font-size: 30px;
    }
    #subtítulo {
        font-size: 20px;
    }
    .email-login, .senha-login {
        font-size: 18px;
    }
    .nome-cadastro, .email-cadastro, .telefone, .senha-cadastro {
        font-size: 18px;
    }
    
}

@media screen and (max-width: 620px) {
    .titulo-login {
        font-size: 25px;
    }
    #título2 {
        font-size: 25px;
    }
    #subtítulo {
        font-size: 18px;
    }
    .email-login, .senha-login {
        font-size: 15px;
    }
    .nome-cadastro, .email-cadastro, .telefone, .senha-cadastro {
        font-size: 15px;
    }
}   
@media screen and (max-width: 565px) {
    .container {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .titulo-login {
        font-size: 25px;
    }
    #título2 {
        font-size: 25px;
    }
    #subtítulo {
        font-size: 18px;
    }
    .email-login, .senha-login {
        font-size: 15px;
    }
    .nome-cadastro, .email-cadastro, .telefone, .senha-cadastro {
        font-size: 15px;
    }                    
}
#entrar{
    border-radius: 20%;
   
}