* {
    padding: 0;
    box-sizing: border-box;
    
}
h1 {
    position: absolute;
    top: 30px;
    left: 100x;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    display: inline;
    font-size: 25px;
    color:  rgba(0, 0, 255, 1);

}


h2 {
    position: absolute;
    width: 453px;
    height: 45px;
    top: 50%;
    left: 34%;
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 35px;
    font-weight: 700;
    line-height: 45.61px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    
}
.mensagem{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
}
.mensagem input{
    width: 1250px;
    height: 60px;
    top: 898px;
    gap: 0px;
    opacity: 0px;

}

/* Media Queries para Responsividade */
@media (max-width: 1080), (max-height: 1200px) {


}
    
@media (max-width: 834), (max-height: 1194px) {

}

@media (max-width: 744), (max-height: 1133px) {

}

@media (max-width: 430), (max-height: 932px) {

}