* {
    padding: 0;
    box-sizing: border-box;
    
}
#top {
    position: absolute;
    top: 30px;
    left: 100x;
    font-family: Arial, sans-serif;
    text-align:left;
    display: inline;
    font-size: 25px;
    color:  rgba(0, 0, 255, 1);

}


h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inika;
    font-size: 35px;
    font-weight: 700;
    line-height: 45.61px;
    color: rgba(0, 0, 0, 1);
    
}


input {
    width: 100%;
    max-width: 1200px;
    height: 35px;
    margin-top: 10px;
    padding: 5px;
    background: rgba(217, 217, 217, 1);
    border: 1px solid rgba(0, 0, 0, 1);
}
    






/* Media Queries para Responsividade */
@media only screen and (max-width: 1080px) {
    #top {
        font-size: 30px;
    }
    h2 {
        font-size: 32px;
    }
    input {
        width: 100%;
    }
    
    


}

@media only screen and (max-width: 834px) {
    #top {
        font-size: 28px;
    }
    h2 {
        font-size: 30px;
    }
   

}

@media screen and (max-width: 711px) {
    #top {
        font-size: 25px;
    }
    h2 {
        font-size: 28px;
    }

}

@media screen and (max-width: 620px) {
    #top {
        font-size: 22px;
    }
    h2 {
        font-size: 25px;
    }

}

@media screen and (max-width: 450px) {
    #top {
        font-size: 20px;
    }
    h2 {
        font-size: 22px;
    }

}