

#top{
    position: absolute;
    top: 30px;
    left: 100x;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    display: inline;
    font-size: 22px;
    color: rgb(20, 31, 175);

}

.link{
    display: inline;
    margin: 5%;
    position:relative;
    top: -70px;
    left: 300px;
}

nav ul li a {
    font-weight: bold; 
    font-family: Inika;
    font-size: 18px;
    font-weight: 700;
    line-height: 32.57px;
    text-align: center;
    color: rgba(0, 0, 0, 1);

}

#linha-horizontal{
    width: 1440px;
    border: 1px solid rgba(0, 0, 0, 1);
    position: relative;
    top: 90px;
    left: 0px;
   
}

.chat {
    text-align: right;
}

#chat {
    font-weight: bold; 
    font-family: Inika;
    font-size: 18px;
    font-weight: 700;
    line-height: 32.57px;

}

#conteudo {
    width: 456px;
    height: 45px;
    top: 242px;
    left: 37px;
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 30px;
    font-weight: 700;
    line-height: 45.61px;
    text-align: center;
    color: rgba(0, 0, 0, 1);



}

