* {
    padding: 0;
    box-sizing: border-box;
    
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 60px;
    align-items: center;    
    flex-wrap: nowrap;
   
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
#top{
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 25px;
    color: rgb(20, 31, 175);
}


nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: gray;
    justify-content: space-around;
    gap: 60px;
    align-items: center;
}
.link{
    list-style-type: none;
}

nav{
    width: 70%;
}

nav ul li a {
    font-weight: bold; 
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: gray;
    text-decoration: none;

}


.chat {
    text-align: right;
}

#chat {
    font-weight: bold; 
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 32.57px;
    background-color: #FFF8F8;

}

hr{
    width: 100%px;
    border: 1px solid gray;
}

#título {
    padding-left: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: left;  
    align-items: flex-start;
    color: gray;
    font-family: Arial, sans-serif;
    font-size: 35px;
    background-color: #00BF63; 
    color: white; 
    padding: 5px;
    

}

h2 {
    width: 130px;
    height: 33px;
    top: 351px;
    left: 48px;
    gap: 0px;
    opacity: 0px;
    font-family: Arial, sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 32.57px;
    text-align: center;
    color: black;
    

}

p {
    font-size: 25px;
}


/* Media Queries para Responsividade */

@media only screen and (max-width: 1080px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 20px;
    }
    nav {
        width: 100%;
    }
    nav ul {
       
        gap: 15px;
    }
    #top {
        font-size: 22px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #chat {
        font-size: 20px;
    }
    #título {
        font-size: 28px;
    }
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 22px;
    }
}

@media only screen and (max-width: 834px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 20px;
    }
    nav ul {
        gap: 10px;
    }
    #top {
        font-size: 20px;
    }
    nav ul li a {
        font-size: 18px;
    }
    #chat {
        font-size: 18px;
    }
    #título {
        font-size: 25px;
    }
    h2 {
        font-size: 22px;
    }
    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 711px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 15px;
    }
    nav ul {
        gap: 8px;
    }
    #top {
        font-size: 18px;
    }
    nav ul li a {
        font-size: 15px;
    }
    #chat {
        font-size: 15px;
    }
    #título {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
}

@media screen and (max-width: 620px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 10px;
    }
    nav ul {
        gap: 5px;
    }
    #top {
        font-size: 15px;
    }
    nav ul li a {
        font-size: 13px;
    }
    #chat {
        font-size: 13px;
    }
    #título {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    p {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 8px;
    }
    nav ul {
        gap: 2px;
    }
    #top {
        font-size: 13px;
    }
    nav ul li a {
        font-size: 10px;
    }
    #chat {
        font-size: 10px;
    }
    #título {
        font-size: 18px;
    }
    h2 {
        font-size: 15px;
    }
    p {
        font-size: 12px;
    }
}