* {
    padding: 0;
    box-sizing: border-box;
    
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 60px;
    align-items: center;    
    flex-wrap: nowrap;
   
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
#top{
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 25px;
    color: rgb(20, 31, 175);
}


nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: gray;
    justify-content: space-around;
    gap: 60px;
    align-items: center;
}
.link{
    list-style-type: none;
}

nav{
    width: 70%;
}

nav ul li a {
    font-weight: bold; 
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: gray;
    text-decoration: none;
    

}


.chat {
    text-align: right;
}

#chat {
    font-weight: bold; 
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 32.57px;
    background-color: #FFF8F8;

}

hr{
    width: 100%;
    border: 1px solid gray;
}

.imagemintegrantes {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 10px;
}

h2 {
    font-size: 25px;
    font-family: Arial,  sans-serif;
    background-color: #00BF63;
    color: white;
    padding: 5px;
    width: 700px;

}

p {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

/* Media Queries para Responsividade */

@media only screen and (max-width: 1080px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 20px;
    }
    nav {
        width: 100%;
    }
    nav ul {
       
        gap: 15px;
    }
    #top {
        font-size: 22px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #chat {
        font-size: 20px;
    }
   
}   

@media only screen and (max-width: 834px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 20px;
    }
    nav ul {
        gap: 10px;
    }
    #top {
        font-size: 20px;
    }
    nav ul li a {
        font-size: 18px;
    }
    #chat {
        font-size: 18px;
    }
    #imagemintegrante {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    h2 {
        font-size: 22px;
    }
    p {
        font-size: 18px;
    }
}  

@media screen and (max-width: 711px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 15px;
    }
    nav ul {
        gap: 8px;
    }
    #top {
        font-size: 18px;
    }
    nav ul li a {
        font-size: 15px;
    }
    #chat {
        font-size: 15px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 17px;
    }
}   

@media screen and (max-width: 620px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 10px;
    }
    nav ul {
        gap: 5px;
    }
    #top {
        font-size: 15px;
    }
    nav ul li a {
        font-size: 13px;
    }
    #chat {
        font-size: 13px;
    }
    h2 {
        font-size: 19px;
    }
    p {
        font-size: 16px;
    }

    
}

@media screen and (max-width: 450px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 8px;
    }
    nav ul {
        gap: 2px;
    }
    #top {
        font-size: 13px;
    }
    nav ul li a {
        font-size: 10px;
    }
    #chat {
        font-size: 10px;
    }
    h2 {
        font-size: 18px;
    }
    p {
        font-size: 15px;
    }
  
}