* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



.cabecalho {
    display: flex; /*utiliza isso para as outras funcionalidades funcionarem/ vai deixar os itens para cima */
    flex-direction: row; /* */
    justify-content: flex-start;
    gap: 60px;
    align-items: center;
    flex-wrap: nowrap;
   
}

.cabecalho nav ul li a {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: grey;
    text-decoration: none; /*tira os negocios de baixo das li */
}

nav ul {
    display: flex; /*para deixar alinhado */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 60px;
    align-items: center;

}

.link {
    list-style-type: none;   
}

nav {
    width: 70%;
}

.chat {
    text-align: right;
}

hr {
    border: 1px solid gray;
}


.imagemintegrantes {
    display: flex;
    align-items: center;
    gap: 5px;
}

h2 {
    font-size: 25px;
    font-family: Arial,  sans-serif;
}

p {
    font-size: 20px;
    font-family: Arial, sans-serif;
