* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: gray;
}


.cabecalho {
    background-color: aquamarine;
    display: flex; /*utiliza isso para as outras funcionalidades funcionarem/ vai deixar os itens para cima */
    flex-direction: row; /* */
    justify-content: flex-start;
    gap: 60px;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
   
}

.cabecalho nav ul li a {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: grey;
    text-decoration: none; /*tira os negocios de baixo das li */
}

nav ul {
    display: flex; /*para deixar alinhado */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 60px;
    align-items: center;

}

.link {
    list-style-type: none;   
}

nav {
    width: 70%;
}

.chat {
    text-align: right;
}

hr {
    border: 1px solid gray;
}

.container {
    background-color: white;
 

    
    margin: auto; /* vai deixar ele sempre no meio não importa a altura e largura*/
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 25px;
    background-color: #00BF63;
    color: white;
    padding: 5px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 19px;
    text-align: justify;
    line-height: 1.5;
}

.objetivo {
   background-color: rgb(171, 113, 226);
    width: 650px;
    height: 450px;
    margin: 20px;
    
}

#imagemobjeto {
    display: flex;
    position: relative;
    bottom: 262px;
    left: 185px;
}

#objeto{
    background-color: blueviolet;
}

.funcionamento {
    background-color: rgb(190, 90, 90);
    width: 650px;
    height: 500px;
    margin: 20px;
}

#imagemfuncionalidade {
    position: relative;
    bottom: 205px;
    left: 195px;

}

.funcao{
    background-color: brown;
   

}
.diferencial {
    background-color: rgb(142, 201, 203);
    width: 600px;
    height: 500px;
    position: absolute;
    bottom: 125px;
    left: 775px;
}

#imagemdiferencial {
    position: relative;
    bottom: 262px;
   left: 230px;
    
}

.dife {
    background-color: cornflowerblue;
}

.mecanico {
    position: absolute;
    left: 1px;
    margin: 10px;
   

}


/* Media Queries para Responsividade */

/* Para largura máxima de 1080px ou altura máxima de 1200px */
@media only screen and (max-width: 1080px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 20px;
    }
    nav {
        width: 100%;
    }
    nav ul {
       
        gap: 15px;
    }
    #top {
        font-size: 22px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #chat {
        font-size: 20px;
    }
}   

/* Para largura máxima de 834px ou altura máxima de 1194px */
@media only screen and (max-width: 834px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 20px;
    }
    nav ul {
        gap: 10px;
    }
    #top {
        font-size: 20px;
    }
    nav ul li a {
        font-size: 18px;
    }
    #chat {
        font-size: 18px;
    }
}  

/* Para largura máxima de 744px ou altura máxima de 1133px */
@media screen and (max-width: 711px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 15px;
    }
    nav ul {
        gap: 8px;
    }
    #top {
        font-size: 18px;
    }
    nav ul li a {
        font-size: 15px;
    }
    #chat {
        font-size: 15px;
    }
}   

/* Para largura máxima de 430px ou altura máxima de 932px */
@media screen and (max-width: 620px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 10px;
    }
    nav ul {
        gap: 5px;
    }
    #top {
        font-size: 15px;
    }
    nav ul li a {
        font-size: 13px;
    }
    #chat {
        font-size: 13px;
    }

    
}

@media screen and (max-width: 450px) {
    hr {
        width: 100%;
    }
    .cabecalho {
        gap: 8px;
    }
    nav ul {
        gap: 2px;
    }
    #top {
        font-size: 13px;
    }
    nav ul li a {
        font-size: 10px;
    }
    #chat {
        font-size: 10px;
    }
  
}