* {
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: gray;
}


.cabecalho {
    background-color: aquamarine;
    display: flex; /*utiliza isso para as outras funcionalidades funcionarem/ vai deixar os itens para cima */
    flex-direction: row; /* */
    justify-content: flex-start;
    gap: 60px;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
   
}

.cabecalho nav ul li a {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: grey;
    text-decoration: none; /*tira os negocios de baixo das li */
}

nav ul {
    display: flex; /*para deixar alinhado */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 60px;
    align-items: center;

}

.link {
    list-style-type: none;   
}

nav {
    width: 70%;
}

.chat {
    text-align: right;
}

hr {
    border: 1px solid gray;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    
    margin: auto; /* vai deixar ele sempre no meio não importa a altura e largura*/
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 25px;
    background-color: #00BF63;
    color: white;
    padding: 5px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 19px;
    text-align: justify;
    line-height: 1.5;
}

.objetivo {
    background-color: rgb(188, 140, 232);
    width: 600px;
    height: 500px;
    
}

#objeto{
    background-color: blueviolet;
}

.funcionamento {
    background-color: rgb(228, 122, 122);
    width: 600px;
    height: 500px;
}

.funcao{
    background-color: brown;
   

}
.diferencial {
    background-color: rgb(142, 201, 203);
    width: 600px;
    height: 500px;
    position: absolute;
    bottom: 70px;
    left: 700px;
}

.dife {
    background-color: cornflowerblue;
}

#imagem-mecanico {
    position: absolute;
   

}



